body {
  padding: 20px;
  text-align: center;
  margin: auto;
}

h1 {
  font-weight: 300;
  font-size: 50px;
  margin: 20px 0;
}

h4 {
  font-weight: 200;
  margin: 20px 0;
}

button {
  margin-top: 25px;
  background: rgb(44, 156, 44);
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 200;
  border: 0;
  border-radius: 5px;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  background: rgb(33, 131, 33);
  /* transform: scale(1.1); */
  /* box-shadow: 2px 2px 10px grey; */
}
