body {
  padding: 50px;
  text-align: center;
  margin: auto;
}

button {
  margin-top: 25px;
  background: limegreen;
  padding: 10px 25px;
  font-size: 14px;
  border: 1px solid;
  border-radius: 20px;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
