.title {
  font-weight: 400;
  font-size: 35px;
}

.analytics-container {
  width: 400px;
  margin: auto;
}

.header {
  padding: 8px 15px;
  margin: 0 0 10px 0;
  text-align: left;
  background: lightgrey;
  font-weight: 600;
  font-size: 16px;
}

.numbers {
  text-align: right;
  margin: 10px 0;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 200;
}

.date-range {
  width: 400px;
  padding: 5px 0;
  text-align: center;
  background: rgb(44, 156, 44);
  color: white;
}

.range-in-days {
  margin: 5px 0;
  font-weight: 300;
  font-size: 26px;
}

.dates {
  font-size: 14px;
  margin: 5px 0;
  font-weight: 400;
}

.calendar {
  margin-top: 30px;
}

.analytics-container {
  width: 400px;
}

.device-settings-container {
  width: 250px;
  margin-left: 100px;
  vertical-align: top;
}

.device-settings-header {
  padding: 15px 0;
  font-size: 26px;
  font-weight: 300;
  background: rgb(71, 71, 71);
  color: white;
}

.device-settings-container, .analytics-container {
  display: inline-block;
  margin-top: 40px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 8px grey;
}
