table {
  margin: 25px auto 0 auto;
  width: 400px;
  border: 1px solid;
}

td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
}

.date-range {
  margin-top: 50px;
  text-align: center;
}
