table {
  margin: 25px auto 0 auto;
  width: 400px;
  border: 1px solid;
}

td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
}

p {
  margin: 5px 0;
}

.date-range {
  margin-top: 60px;
  text-align: center;
}

.range-in-days {
  color: grey;
  font-weight: 300;
  font-size: 22px;
}

.dates {
  font-size: 14px;
  font-weight: 600;
}

.calendar {
  margin-top: 15px;
}
